body {
    font-family: poppins;
    font-size: 13px;
    background-image: url('./assets/img/sfondo.png');
    background-position: center center;

}

@media screen and (min-width:500px) {
    html {
        font-size: 70%;
    }
    body {
        line-height: 1.8;
    }
}


@media screen and (min-width:700px) {
    html {
            font-size: 80%;
    }
    body {
            line-height: 2;
    }
}

@media screen and (min-width:1200px) {
            html {
                font-size: 100%;
            }
            body {
                line-height: 2.4;
            }
}

header, main, footer {
    margin: 15px 15px;
}

header {
   background-color: rgb(13, 129, 152);
   text-align: center;
   line-height: 1.7;
   padding: 20px;
}

header p {
    color: white;
}

header ul li {
    display: inline;
    color: white;
}

header p strong {
    color: white;
}

nav ul {
    list-style: none;
    color: white;
    word-spacing: 18px;
}

nav ul a {
    color: white;
}

main {
    background-color: white;
    padding: 20px;
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
}

#unico {
    color: rgb(158, 158, 158);

}

strong {
    color: brown;
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
}

code {
    background-color: #c2c4c2;
    border: none;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}

caption {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    
}

table {
    text-align: center;
    margin-left: 20px;
    display: inline-block;

}

th {
    background-color: rgb(26, 123, 233);
    text-align: center;
}

th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}

#grigio {
    background-color: rgb(209, 206, 206);
}

#grigio2 {
    background-color: rgb(209, 206, 206);
}

section {
   background-color: #d4d6d4;
   padding: 2.5em 1em 1em;
   margin-bottom: 2em;
   position: relative;

}

section h2 {
    background-color: grey;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
    position: absolute;
    top: -0.5em;
    border: 2px;
    padding: 0 1em;
    left: 5%;
    margin: 0px;
    display: inline-block;
    width: 70px;
    text-align: center;
}

iframe{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #1f1f1f;
}

fieldset button {
    background-color: rgb(26, 127, 250);
    color: white;
}

aside h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
}

aside div {
    background-color: #d4d6d4;
    border: 1px solid #d4d6d4;
    margin-bottom: 1em;
    padding: 1em;

}

aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


footer {
    background-color: rgb(3, 82, 111);
    text-align: center;
    font-size: 0.8rem;
    color: white;
    box-shadow: 0 3px 3px #444;
    padding: 1em;   
}

footer address a {
    color: rgb(188, 2, 188);
}


